@font-face {
  font-family: 'HelveticaBold';
  src: url('../assets/fonts/HelveticaNeueCyr-Bold.otf') format('opentype')
}

@font-face {
  font-family: 'HelveticaLight';
  src: url('../assets/fonts/HelveticaNeueCyr-Light.otf') format('opentype')
}

@font-face {
  font-family: 'HelveticaMedium';
  src: url('../assets/fonts/HelveticaNeueCyr-Medium.otf') format('opentype')
}

@font-face {
  font-family: 'HelveticaRoman';
  src: url('../assets/fonts/HelveticaNeueCyr-Roman.otf') format('opentype')
}

@font-face {
  font-family: 'HelveticaThin';
  src: url('../assets/fonts/HelveticaNeueCyr-Thin.otf') format('opentype')
}
