#main-header {
	@include background-size(cover);

	background-repeat: no-repeat;
	background-position: center;

	.navbar {
		background-color: transparent;
		border-color: transparent;
		margin-bottom: 0px;
		border: none;
	}

	.navbar-header {
		color: #ffffff;

		.tagline {
			font-size: 13pt;
			text-transform: uppercase;
		}

		.info {
			font-size: 10pt;
		}

		.btn {
			background-color: transparent;
			border-color: #ffffff;
			text-transform: uppercase;
		}

		.login-buttons {
			@include flex-grow(0);

			.btn {
				width: 35px;
				height: 35px;
			}
		}

		// to-do
		#main-header__login-button-inner {
			width: 100%;
	    margin-top: 1rem;
	    color: white;
	    background: transparent;
	    border: 1px solid white;
			text-transform: uppercase;
			font-size: 14px;
		}

		.login-button-facebook {
			font-weight: 700;
			font-family: 'Helvetica', sans-serif;
			text-transform: none;
		}

		.login-button-vkontakte {
			font-weight: 700;
		}

		#main-header__my-projects {
			border: 0;
			background: #0296bc;
			font-family: 'HelveticaBold', sans-serif;
			padding: 0.7rem 1.8rem;
			font-size: 15px;
			text-transform: uppercase;
		}

		#main-header__t-user-counter {
			@include flexbox;
			@include flex-direction(column);
			@include align-items(center);
		}
	}

	@include respondMinExclude(medium) {
		.nav-justified > li {
			background-color: white;
			vertical-align: middle;
		}
	}

	@include respond(medium) {
		// to-do
		.dropdown-menu {
	    position: static;
	    width: 100%;
		}

		#navbar-collapse {
			margin-bottom: 1rem;
		}
	}

	// temp
	@include respond(medium) {
		&__t-logo-row,
		&__t-description-row {
			@include flexbox;
			@include flex-direction(column);
			@include align-items(center);

			margin: 0;
		}

		&__t-logo-row {
			margin-bottom: 1rem;
		}

		&__t-user-counter {
			display: none;
		}

		&__t-logo,
		&__t-login {
			padding: 0;
			width: auto;
		}

		&__t-description {
			padding: 0;
		}

		&__t-language-switch-row {
			padding-left: $baseMargin;
		}
	}
}

.navbar-header {
	margin-top: 50px;
}

.navbar-brand {
	height: auto;
}
