.idea-search {
  margin: 1rem 0;

  &__container {
    @include flexbox;
    @include justify-content(space-between);

    margin: 1rem 0;

    @include respond(small) {
      @include flex-direction(column);
    }
  }

  &__hr {
    border-top: 1px solid #4c4c4b;
  }

  &__search {
    @include respondMinExclude(medium) {
      @include flex-grow(.3);
    }
  }
  &__results {
    // to-do: dupl
    @include respondMinExclude(medium) {
      $marginBetweenItems: 2rem;
      width: calc(#{$ideaCardWidth} * 2 + #{$marginBetweenItems});
    }
  }
}
