.input-context {
  &__row {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(baseline);

    @include respond(medium) {
      @include flex-direction(column);
    }

    &--center {
      @include justify-content(center);

      @include respond(medium) {
        @include align-items(center);
      }
    }

    &--align-center {
      @include align-items(center);
    }
  }

  &__row + &__row {
    margin: 1rem 0;
  }

  &__label-wrapper {
  }

  &__fieldset {
    &--margin {
      @include respondMinExclude(medium) {
        .input-context__row {
          margin-left: 1rem;
        }
      }
    }
  }

  &__fieldset + &__fieldset {
    margin-top: 1rem;
  }

  &__legend {
    border: 0;
  }

  &__label {
    @include user-select(none);

    cursor: pointer;
  }

  &__input-wrapper {
  }

  &__input {
    &--textarea {
      resize: vertical;
      width: 27rem;
      height: 8rem;
    }

    &--fixed-width {
      width: 17rem;
    }

    &--bold {
      font-weight: bold;
    }
  }

  &__description {
  }
}
