.project-submit {
  margin: 1rem 0;

  &__got-idea {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__got-idea-header {
    text-transform: uppercase;
    color: #0296bc;
  }

  &__form-wrapper {
    padding: 0 22%;
    margin: 2rem 0;

    @include respond(medium) {
      padding: 0;
      margin: 0;
    }
  }

  &__form {
    display: none;

    &--active {
      display: block;
    }

    &--conversation {
      padding: 0 15%;
    }
  }
}
