@import 'css/_base.scss';
@import 'css/_header.scss';
@import 'css/_idea-button.scss';
@import 'css/_idea-card.scss';
@import 'css/_idea-grid.scss';
@import 'css/_section-header.scss';
@import 'css/_grid-layout-switch.scss';

.projects {
  margin: 2rem 0;
  padding: 0 5%;

  &__search-type {
  }

  &__search-form {
    margin: 2rem 0;
  }

  &__search-input {
    $iconWidth: 26px;
    $iconHeight: 30px;

    background: #eaeaea;
    color: #828282;
    border: 0;
    padding: 1rem 0;
    padding-left: calc(#{$iconWidth} * 2);
    text-transform: uppercase;

    background-position: calc(#{$iconHeight} / 4) calc(#{$iconHeight} / 4);
    background-repeat: no-repeat;
  }

  &__grid {
    margin: 0 auto;

    @include respondMinExclude(medium) {
      $marginBetweenItems: 2rem;

      &--layout-2x2 {
        width: calc(#{$ideaCardWidth} * 2 + #{$marginBetweenItems});
      }

      &--layout-3x3 {
        width: calc(#{$ideaCardWidth} * 3 + #{$marginBetweenItems});
      }
    }
  }
}
