.input-context--theme-basic {
  .input-context__label {
    text-transform: uppercase;
    font-weight: normal;
  }

  .input-context__input {
    background: white;
    border: 1px solid #bbb;
    color: #709fb3;

    &--submit {
      background: #408da0;
      color: white;
      text-transform: uppercase;
      border: 0;
      padding: 1.4rem;
    }
  }

  .input-context__legend {
    color: #44879e;
    text-transform: uppercase;
  }

  // theme elements
  &__general-image {
    //margin-left: -1rem;
  }
}
