{% extends "base.twig" %}

{% block head %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ theme.link }}/css/home.css" /> 
{% endblock %}

{% block content %}
	{{ parent() }}

	<div class="content">
		<div class="metrics-wrapper">
			{% block metrics %}
				{% include 'metrics.twig' %}
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block social_plugins %}
	{{ parent() }}

	<div class="social-plugins-wrapper">
	</div>
{% endblock %}
