{% extends "base.twig" %}

{% block content %}
	<div class="content">
	</div>
{% endblock %}

{% block social_plugins %}
	<div class="social-plugins-wrapper">
		{% include 'social-plugins.twig' %}
	</div>
{% endblock %}
